/* CSS Entry Point */

.fightcage {
  width: 100%;
  justify-content: space-around;
  display: flex;
  font-size: 28px;
  align-items: center;
}

.status {
  text-align: center;
}

.fightscene {
  display: none;
}

.choosescene {
  text-align: center;
}

.fighters {
  display: flex;
  justify-content: space-around;
}
